@import "../variables";

/* # Sourcegraph Extension */

body.github-dark {
    .command-list {
        .list-group-item {
            background-color: $dropdown-bg !important;

            &.active {
                background-color: $dropdown-bg-active !important;
            }
        }
    }
}
