/*
	Visual Studio dark theme-like style 
*/
html.hljs.json,
html.hljs.css,
html.hljs.javascript {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: rgb(30, 30, 30);
	color: rgb(220, 220, 220);
	tab-size: 4;
}

html.hljs.json .hljs-comment,
html.hljs.javascript .hljs-comment,
html.hljs.css .hljs-comment {
	color: rgb(87, 166, 74);
}

html.hljs.json .hljs-number,
html.hljs.javascript .hljs-number,
html.hljs.css .hljs-number {
	color: rgb(181, 206, 186);
}

html.hljs.json .hljs-emphasis,
html.hljs.javascript .hljs-emphasis,
html.hljs.css .hljs-emphasis {
	font-style: italic;
}

html.hljs.json .hljs-strong,
html.hljs.javascript .hljs-strong,
html.hljs.css .hljs-strong {
	font-weight: bold;
}

/* WebGL3D */
