/*
	Visual Studio dark theme-like style 
*/
html.format-dark pre.hljs.json .hljs-regexp,
html.format-dark pre.hljs.json .hljs-string {
	color: rgb(214, 157, 133);
}

html.format-dark pre.hljs.json .hljs-attr {
	color: rgb(215, 186, 125);
}

html.format-dark pre.hljs.json .hljs-literal {
	color: rgb(86, 156, 214);
}

/* WebGL3D */
