.format-dark p a {
	color: rgb(86, 156, 214);
}

.format-dark .score-container,
.format-dark .best-container,
.format-dark .restart-button,
.format-dark .pp-donate > button,
.format-dark .btc-donate {
	background-color: rgb(0, 122, 204);
}

.format-dark .game-container{
	background-color: rgb(62, 62, 62);
}


/* Tiles */
.format-dark .tile.tile-2 > .tile-inner{
	background-color: rgb(52, 52, 52);
}

.format-dark .tile.tile-4 > .tile-inner {
	background-color: rgb(88, 88, 88);
}

.format-dark .tile.tile-8 > .tile-inner {
	background-color: rgb(87, 144, 74);
}

.format-dark .tile.tile-16 > .tile-inner {
	background-color: rgb(87, 202, 74);
}

.format-dark .tile.tile-128 > .tile-inner {
	background-color: rgb(0, 122, 204);
	box-shadow: 0 0 30px 10px rgba(0, 122, 204, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}

.format-dark .tile.tile-256 > .tile-inner {
	background-color: rgb(0, 122, 204);
	box-shadow: 0 0 30px 10px rgba(0, 122, 204, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.format-dark .tile.tile-512 > .tile-inner {
	background-color: rgb(0, 122, 204);
	box-shadow: 0 0 30px 10px rgba(0, 122, 204, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}

.format-dark .tile.tile-1024 > .tile-inner {
	background-color: rgb(0, 122, 204);
	box-shadow: 0 0 30px 10px rgba(0, 122, 204, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}

.format-dark .tile.tile-2048 > .tile-inner {
	background-color: rgb(0, 122, 204);
	box-shadow: 0 0 30px 10px rgba(0, 122, 204, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
}


/* WebGL3D */
